.box1{
    background: #135546 !important;
    height: 120px;
}

.box2{
    background-color: #303F9F;
    height: 60px;
}

.social{
   font-size: 35px !important;
    color: white
}

.text{
    color: white;
}